POSTGRES_USER=/etc/user_file
POSTGRES_PASSWORD=/etc/password_file
POSTGRES_PORT=8888
POSTGRES_HOST=/etc/host_file
POSTGRES_DB=/etc/host_file  
POSTGRES_DB_TABLE=dbTable
LOG_LEVEL=level

APP_PORT=1111

SQLITE_HOST=sufix:///